PORT=8888
WEB_PORT=3000
MONGODB_URL=mongodb://database:27017/kof-server
MONGODB_PORT=27017
TOKEN_KEY=
AUTO_REGISTRATION=0
ENCRYPTION_KEY=
IV_SALT_KEY=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_AUTH_REDIRECT_URI=
SHOPIER_API_ID=
SHOPIER_API_KEY=

